<!-- <p>employee-view works!</p> -->

<h1>Name: {{employee.name}}</h1>
<h1>Company: {{employee.company}}</h1>
<h1>Role: {{employee.role}}</h1>
<h1>Package: {{employee.package}}</h1>
<h1>Email: {{employee.email}}</h1>
<h1>DOB: {{employee.dob}}</h1>
<h1>Address: {{employee.address?.addressLine}},<br>{{employee.address?.city}},<br>{{employee.address?.state}},<br>{{employee.address?.pincode}}</h1>
<h1>Hikes: Year: {{employee.hikes.value.year}}, {{employee.hikes.value.percentage}} %hike</h1>
<h1></h1>
<h1></h1>
<h1></h1>
